.project-card {
  display: flex;
  align-items: stretch;
  margin-bottom: 8vw;

  &.reverse {
    flex-direction: row-reverse;

    .project-info {
      align-items: flex-start;
      text-align: left;

      .project-description-box {
        margin-right: -4vw;
        z-index: 2;
        margin-left: 0;
        p {
          text-align: left;
        }
      }
    }
  }

  .project-image {
    flex: 1;
    
    img {
      width: 100%;
      height: 100%;
      border-radius: 8px;
      object-fit: cover;
      box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.5);
      opacity: 0.7;
    }
  }

  .project-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .project-label {
      color: #C3B1E1;
      font-size: 0.9vw;
      margin-bottom: 0.5vw;
    }

    .project-title {
      font-size: 1.9vw;
      margin: 0 0 1vw 0;
      color: #F0F0F0;
    }

    .project-description-box {
      background-color: #0f0f0f;
      padding: 1.5vw;
      max-width: 36vw;
      margin-left: -4vw;
      border-radius: 10px;
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
      margin-bottom: 0.5vw;
      z-index: 2;

      p {
        font-size: 1vw;
        line-height: 1.8vw;
        color: #B9B4C7;
        margin: 0;
        text-align: right;
      }
    }

    .project-tech {
      font-size: 1vw;
      font-weight: 300;
      color: #ccc;
      margin-bottom: 1.2vw;
    }

    .project-links {
      display: flex;
      gap: 1.2vw;
      align-items: center;

      a {
        text-decoration: none;
        color: #A288E3;
        font-size: 1vw;

        img {
          width: 2vw;
          height: 2vw;
        }

        span:hover {
          text-decoration: underline;
        }
      }
    }
  }
}