$breakpoints: (
  mobile: "(max-width: 480px)",
  tablet: "(min-width: 481px) and (max-width: 949px)",
  small-desktop: "(min-width: 950px) and (max-width: 1024px)",
  large-desktop: "(min-width: 1025px)",
);

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  #tsparticles {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    pointer-events: none;
  }

  .text-zone {
    display: flex;
    flex-direction: column;
    align-items: center;

    .intro {
      color: #89cff0;
      font-size: 1.5rem;
      font-weight: 500;
      margin: 0;

      @media #{map-get($breakpoints, small-desktop)} {
        font-size: 1.2rem;
      }

      @media #{map-get($breakpoints, mobile)} {
      }

      @media #{map-get($breakpoints, tablet)} {
      }
    }

    .large {
      color: #f0f0f0;
      font-size: 7rem;
      margin: 0;
      font-weight: 600;
      padding: 0;

      @media #{map-get($breakpoints, small-desktop)} {
        font-size: 6rem;
      }

      @media #{map-get($breakpoints, mobile)} {
      }

      @media #{map-get($breakpoints, tablet)} {
      }
    }

    .small {
      color: #89cff0;
      font-size: 2.15rem;
      margin: 0;
      line-height: 5vw;

      @media #{map-get($breakpoints, small-desktop)} {
        font-size: 1.8rem;
        line-height: 7vw;
      }

      @media #{map-get($breakpoints, mobile)} {
      }

      @media #{map-get($breakpoints, tablet)} {
      }
    }
  }

  .button-container {
    width: 25vw;
    display: flex;
    justify-content: space-between;
    margin-top: 1.5vw;
    @media #{map-get($breakpoints, small-desktop)} {
      width: 35vw;
    }

    @media #{map-get($breakpoints, mobile)} {
    }

    @media #{map-get($breakpoints, tablet)} {
    }

    button {
      width: 10vw;
      height: 3.2vw;
      border-radius: 10px;
      background-color: #89cff0;
      font-family: "DM Sans", sans-serif;
      border: none;
      text-decoration: none;
      font-size: 1.5rem;
      font-weight: 600;
      color: #0d0d0d;
      margin-top: 1vw;
      transition: transform 0.2s ease;

      @media #{map-get($breakpoints, small-desktop)} {
        width: 15vw;
        height: 5vw;
        font-size: 1.4rem;
      }

      @media #{map-get($breakpoints, mobile)} {
      }

      @media #{map-get($breakpoints, tablet)} {
      }

      &:hover {
        transform: translateY(-5px);
        cursor: pointer;
      }
    }
  }

  .scroll-container {
    position: absolute;
    bottom: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    .scroll-text {
      color: #f0f0f0;
      font-size: 1rem;
      margin-bottom: 0.2vw;
    }

    .scroll-icon-wrapper {
      animation: bounce 1.5s infinite;
    }

    .scroll-icon {
      width: 1.3vw;
      transform: rotate(225deg);
    }
  }

  @keyframes bounce {
    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(8px);
    }
  }
}

.about {
  margin: 15vw 20% 15vw 20%;
  color: #89cff0;
  scroll-margin-top: 35vh;

  h1 {
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 2vw;

    @media #{map-get($breakpoints, small-desktop)} {
      font-size: 3.5rem;
    }

    @media #{map-get($breakpoints, mobile)} {
    }

    @media #{map-get($breakpoints, tablet)} {
    }
  }

  p {
    font-size: 1.7rem;
    font-weight: 400;
    color: #f0f0f0;
    line-height: 2.2vw;
  }
}

.projects {
  height: 100%;
  margin: 0vw 20% 15vw 20%;
  scroll-margin-top: 5vh;

  h1 {
    color: #89cff0;
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 3vw;
  }
}

.skills {
  margin: 0vw 20% 15vw 20%;
  scroll-margin-top: 16vh;
}

.contact {
  margin: 0 20% 15vw 20%;

  h1 {
    color: #89cff0;
    font-size: 4rem;
    font-weight: 600;
  }

  h2 {
    color: #f0f0f0;
    margin-top: -1vw;
    font-weight: 400;
    margin-bottom: 2vw;
    font-size: 2rem;
  }

  .email {
    color: #f0f0f0;

    &:hover {
      color: #b4b4b4;
    }
  }

  img {
    width: 3vw;
    transition: transform 0.2s ease;
    &:hover {
      transform: translateY(-8px);
    }
  }

  .icons-container {
    display: flex;
    width: 12vw;
    justify-content: space-between;
  }
}
